<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC Tag Test</title>

    <div class="form-group" id="q1">
        <label for="selectq1">1. Unitatea este functionala corespunzator?</label>
        <br>
        <select class="form-control" id="ans1" onchange="showDiv('q1.1',this);dontShowDiv4elementsNo('q1.1','q1.1No','q1.2','q1.2Yes',this);completed('selectq1');">
            <option value="notChosen">Choose answer...</option>
            <option value="no">Nu</option>
            <option value="yes">Da</option>
        </select>
    </br>
    </div>

    <div class="form-group" id="q1">
        <label for="selectq1">2. Se afla elemente ce pot pune in pericol functionarea corecta a unitatii?</label>
        <br>
        <select class="form-control" id="ans2" onchange="showDiv('q1.1',this);dontShowDiv4elementsNo('q1.1','q1.1No','q1.2','q1.2Yes',this);completed('selectq1');">
            <option value="notChosen">Choose answer...</option>
            <option value="no">Nu</option>
            <option value="yes">Da</option>
        </select>
    </br>
    </div>

    <div class="form-group" id="q1">
        <label for="selectq1">3. Au existat intreruperi ale unitatii in ultimele 30 de zile?</label>
        <br>
        <select class="form-control" id="ans3" onchange="showDiv('q1.1',this);dontShowDiv4elementsNo('q1.1','q1.1No','q1.2','q1.2Yes',this);completed('selectq1');">
            <option value="notChosen">Choose answer...</option>
            <option value="no">Nu</option>
            <option value="yes">Da</option>
        </select>
    </br>
    </div>
    <div class="form-group" id="q1">
        <label for="selectq1">4. Elementele unitatii prezinta deteriorari?</label>
        <br>
        <select class="form-control" id="ans4" onchange="showDiv('q1.1',this);dontShowDiv4elementsNo('q1.1','q1.1No','q1.2','q1.2Yes',this);completed('selectq1');">
            <option value="notChosen">Choose answer...</option>
            <option value="no">Nu</option>
            <option value="yes">Da</option>
        </select>
    </br>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" value="4" Style="font-size:large; height:50px;width: 200px;margin-bottom:10px;opacity:0.95;"> Submit</button>

</head>
<body>
    
</body>
</html>